<PageTitle>Schedule</PageTitle>
@if(ErrorReadingSchedule)
{
    <h3>Could not load schedule.</h3>
    <h6>@ErrorMessage</h6>
}
else
{
    @foreach (var day in Days)
    {
        <h3>Schedule @day.Date.ToShortDateString()</h3>
        <h6>Heat Turns off at @day.HeatOff</h6>
        <h6>Heat Turns on at @day.HeatOn</h6>

        <table>
            <tr>
                <th> Lecture</th>
                <th>From</th>
                <th>To</th>
            </tr>
            @foreach (var lecture in day.CalendarEvents)
            {
                <tr>
                    <td>@lecture.Name</td>
                    <td>@lecture.Begin</td>
                    <td>@lecture.End</td>
                </tr>
            }
        </table>

        <table>
            <tr>
                <th>Time</th>
                <th>Temperature</th>
                <th>Weather Type</th>
            </tr>
            @foreach (var weather in day.WeatherData)
            {
                <tr>
                    <td>@weather.Timestamp</td>
                    <td>@weather.Temperature</td>
                    <td>@weather.WeatherType</td>
                </tr>
            }
        </table>
    }
}       

