<PageTitle>Settings</PageTitle>

<h3>Settings</h3>

<div class="preference">
    <label for="arrivalTime">Arrival Time (in min)</label>
    <input name="arrivalTime" id="arrivalTime" @bind-value="_arrivalTime">
</div>

<div class="preference">
    <label for="heatTime">Preheat Time (in min)</label>
    <input name="heatTime" id="heatTime" @bind-value="_heatTime">
</div>

<div class="preference">
    <label for="heatTime">Rapla URL</label>
    <input name="heatTime" id="heatTime" @bind-value="_raplaUrl">
</div>

<div class="preference">
    <label for="cityName">City Name</label>
    <input name="cityName" id="cityName" @bind-value="_cityName">
</div>

<div class="preference">
    <label for="temperature">Temperature</label>
    <input name="temperature" id="temperature" @bind-value="_temperature">
</div>

<button type="button" @onclick="SaveSettings">Save</button>
